registry="http://registry.npmjs.org/"
_egistry="https://artifactoryprod.es.ad.adp.com/artifactory/api/npm/caet-npm/"
_@types:registry="https://artifactoryprod.es.ad.adp.com/artifactory/api/npm/caet-npm/"
strict-ssl=false
proxy=null
https-proxy=null
http-proxy=null
#registry="http://ct-avs-web.es.ad.adp.com:4873"