.panel-group,
.row > .well,
.row > .jumbotron,
.row > .panel{
margin-left:10px;
    margin-right:10px;
}

.alert > pre{
    background: inherit;
    border:inherit;
}


/*List Reset*/
.list-group{}
.list-group-item{border:none;}
/*.list-group > span.list-group-item {
    padding: 0px !important;
}*/

/*txt*/
.txt--error{color:red;}

/*Body*/
body {
    font-size: 14px;
}


#logs-tab > .tab-content {
    padding: 10px;
    background-color: #202a0d;
}

.terminal > .panel {
    max-height: 958px;
    overflow-y: auto;
}
#terminal-logs > div{
    width: 50%;
    float: right;
}
.memory-tile{}
.memory-tile__col{text-align:center}
.memory-tile__block{}
.memory-tile__block__header{}
.memory-tile__block__body{
    font-size:3em;
}
.memory-tile__block__footer{
    margin:10px 0;
}
.commandlist{}
.commandlist > div:first-child{ line-height: 30px;height: 30px;}
.commandlist .list-group-item > div:first-child{width:50px; margin-right:10px}

.alert-status {
    padding: 0px;
    margin-right: 7px;
    border-radius: 50%;
    width: 9px;
    float: left;
    height: 10px;
}
.panel-body {
    padding: 8px;
}
.well-logs {
    margin: 0px;
    border-bottom: 1px solid #605E5E;
    font-size: 12px;
}
hr {
    margin-top: 6px;
    margin-bottom: -8px;
}
.help-block {
    color: darkgray;
}
.form-group .form-control{
    height: 30px;
}
.btn-group {
    display: inline;
}
.jumbotron h1 {
    font-size: 27px;
}
.jumbotron h2 {
    font-size: 18px;
}