
.table{
    display:table;
}
.table .row{
    display: table-row;
}
.table .row .cell{
    display: table-cell;
    padding:5px;
}

.panel-group,
.row > .well,
.row > .jumbotron,
.row > .panel{
margin-left:10px;
    margin-right:10px;
}

.alert > pre{
    background: inherit;
    border:inherit;
}


/*List Reset*/
.list-group{}
.list-group-item{border:none;}
/*.list-group > span.list-group-item {
    padding: 0px !important;
}*/

/*txt*/
.txt--error{color:red;}

/*Body*/
body {
    font-size: 14px;
}


#logs-tab > .tab-content {
    padding: 10px;
    background-color: #202a0d;
}

.terminal > .panel {
    max-height: 958px;
    overflow-y: auto;
}
.terminal .well {
    background: transparent;
}
#terminal-logs > div{
    width: 50%;
    float: right;
}
.memory-tile{}
.memory-tile__col{text-align:center}
.memory-tile__block{}
.memory-tile__block__header{}
.memory-tile__block__body{
    font-size:3em;
}
.memory-tile__block__footer{
    margin:10px 0;
}
.commandlist{}
.commandlist > div:first-child{ line-height: 30px;height: 30px;}
.commandlist .list-group-item > div:first-child{width:50px; margin-right:10px}

.alert-status {
    padding: 0px;
    margin-right: 7px;
    border-radius: 50%;
    width: 9px;
    float: left;
    height: 10px;
}
.panel-body {
    padding: 8px;
}
.well-logs {
    margin: 0px;
    border-bottom: 1px solid #605E5E;
    font-size: 12px;
}
hr {
    margin-top: 6px;
    margin-bottom: -8px;
}
.help-block {
    color: darkgray;
}
.form-group .form-control{
    height: 30px;
}
.btn-group {
    display: inline;
}
.jumbotron h1 {
    font-size: 27px;
}
.jumbotron h2 {
    font-size: 18px;
}

.style-flex {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}
.style-flex > div
{
    flex:1 1 auto;

    min-width: 265px;
    max-width: 265px;
    transition: 0.3s;
    min-height: 150px;
    display: inline-block;
    margin-right:5px;
    padding-top: 0px;
    padding-right: 0px;

}
.style-flex > div:hover {

}
.page-header {
    margin: 40px -15px 20px;
}
.top-6px{
    top: 6px;
}
.card-menu:hover{

}
.caret {
    display: none;
}
.rowDrop > div{
    width: auto!important;
    height: auto!important;
}
.terminal {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 300px;
    overflow-y: auto;
}
.terminal > .title {
    border-bottom: 1px solid #1d8aa3;
    margin-bottom: -5px;
}
.terminal > .title > .title-name {

}
.terminal-card {
    background: #124e5b;
    margin-top: -1px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
}
.terminal-card:hover {

}
.terminal-header {

}
::-webkit-scrollbar {
    display: none;
}
.terminal-body {
    background-color: #1D1F20;
    color: #fff;
    font-size: 10px;
    margin-right: 0px;
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-word;
    cursor: pointer;
    min-height: 175px;
    overflow-y: auto;
}
.terminal-card > .terminal-body {

    max-height: 175px!important;
}
.terminal-body-details  {
    max-height: 400px;
    cursor: default;

}
.dropdown-menu {
    margin-left: -137px;
}
  .terminal-body:hover {
    box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.2), 16px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.terminal-prebody {
    display: flex;
    overflow-x: auto;
    flex: 1 1 auto;
    padding-top: 5px;
    min-width: 170px;
}
small, .terminal-prebody > small {
    margin-right: 5px;
    font-weight: normal!important;
}
.container {
    border: 1px solid #1d8aa3;
    background-color: #000;
}
body{
    background-color: #011f26;
}
